$this: ".c-footer";

#{$this} {
  @include reset-block;

  padding: ($space-unit * 4) 0;
  background: $contrast-color;
  color: $basic-color;

  @media #{map-get($breakpoints, "full")} {
    padding: ($space-unit * 6) 0;
  }

  #{$this}__nav {
    @include reset-block;
  }

  #{$this}__paragraph {
    @include reset-block;

    margin-top: $space-unit * 2;

    @include font($normal-font-family, $normal-font-size, 0.7);

    @media #{map-get($breakpoints, "full")} {
      @include font($normal-font-family, $normal-font-size, 0.8);
    }
  }
}
