$this: ".c-hero";

#{$this} {
  @include reset-block;

  @include prevent-collapsing;

  padding: ($space-unit * 4) 0;
  min-height: 100vh;
  background: $contrast-color;
  color: $basic-color;

  ::selection {
    background: lighten($contrast-color, 80);
  }

  @include font($normal-font-family, $normal-font-size, 0.9);

  @media #{map-get($breakpoints, "full")} {
    padding: ($space-unit * 6) 0;

    @include font($normal-font-family, $normal-font-size, 1);
  }

  #{$this}__underline {
    border-bottom: 1px solid $basic-color;
  }

  #{$this}__main {
    margin-top: $space-unit * 4;
  }

  #{$this}__footer {
    margin-top: $space-unit * 4;
  }

  #{$this}__pic {
    @include reset-inline-block;

    border-radius: 2px;
    max-height: 120;
    max-width: 120px;
    margin-bottom: $space-unit * 3;

    @media #{map-get($breakpoints, "full")} {
      margin-bottom: $space-unit * 4;
    }
  }

  #{$this}__title {
    @include reset-block;

    @include font($decorative-font-family, $decorative-font-size, 1.8);

    @media #{map-get($breakpoints, "full")} {
      @include font($decorative-font-family, $decorative-font-size, 2.4);
    }

    font-weight: normal;
  }

  #{$this}__subtitle {
    @include reset-block;

    margin-top: $space-unit * 2;

    @include font($normal-font-family, $normal-font-size, 0.9);

    @media #{map-get($breakpoints, "full")} {
      @include font($normal-font-family, $normal-font-size, 1);
    }

    text-transform: uppercase;
    font-weight: normal;
    color: $theme-color;
  }

  #{$this}__paragraph {
    @include reset-block;

    margin-top: $space-unit * 2;
    color: $basic-color;

    &--hidden {
      display: none;
    }
  }

  #{$this}__button {
    @include reset-button;

    padding: $space-unit ($space-unit * 2);
    background: $theme-color;
    color: $basic-color;
    border-radius: 2px;
    text-align: center;

    &:not(:first-child) {
      margin-top: $space-unit;
    }

    @media #{map-get($breakpoints, "full")} {
      padding: ($space-unit * 1.5) ($space-unit * 3);
      display: inline-block;
      width: auto;
    }

    @include font($normal-font-family, $normal-font-size, 1);

    text-transform: uppercase;
    transition: $quick-transition;

    &:hover {
      background: lighten($theme-color, 10);
    }

    &:focus {
      background: darken($theme-color, 10);
    }

    &--secondary {
      box-shadow: 0 0 0 2px $theme-color inset;
      background: none;
      color: $theme-color;

      &:hover {
        box-shadow: none;
        color: $basic-color;
      }
    }
  }

  #{$this}__highlight {
    color: $theme-color;
  }
}
