<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Hero websites by pittkost</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/styles/main.css">
  <link href="images/favicon.png" rel="icon" type="image/png">
</head>
<body>
  <div class="l-page">
    <main class="l-page__main">
      <div class="c-hero">
        <div class="l-wrapper">
          <img class="c-hero__pic" src="/images/hero.jpg">

          <h1 class="c-hero__title">
            Hi, I'm Piotr and I'm building simple & elegant <span class="c-hero__underline">hero websites</span>.
          </h1>

          <h2 class="c-hero__subtitle">
            The simplest way to establish your web presence.
          </h2>

          <main class="c-hero__main">
            <p class="c-hero__paragraph">
              Hero website is a simple way to establish your presence on the internet. It's your custom web page usually having basic information and a set of social media links or call to contact button.
            </p>

            <p class="c-hero__paragraph">
              It's a natural choice for digital influencers, freelancers, solopreneurs, small firms, consultants and the other professionalists who need no more than just a basic reference point plugged to their custom web address.
            </p>

            <p class="c-hero__paragraph">
              Typically delivery takes up to 3 working days. The regular price is $100 and includes design, coding, deployment and one year of hosting.
            </p>
          </main>

          <footer class="c-hero__footer">
            <a class="c-hero__button" href="mailto:hello@pittkost.com?subject=I'm interested in having hero website">
              Ask for a quote
            </a>
          </footer>
        </div>
      </div>
    </main>

    <footer class="l-page__footer">
      <div class="c-footer">
        <div class="l-wrapper"> 
          <nav class="c-footer__nav">
            <ul class="c-social-links">
              <li class="c-social-links__item">
                <a class="c-social-links__link" href="https://facebook.com/pittkost" target="_blank">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>

              <li class="c-social-links__item">
                <a class="c-social-links__link" href="https://instagram.com/pittkost" target="_blank">
                  <i class="fa fa-instagram"></i>
                </a>
              </li>

              <li class="c-social-links__item">
                <a class="c-social-links__link" href="https://linkedin.com/in/pittkost" target="_blank">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>

              <li class="c-social-links__item">
                <a class="c-social-links__link" href="https://medium.com/@pittkost/has-recommended" target="_blank">
                  <i class="fa fa-medium"></i>
                </a>
              </li>
            </ul>
          </nav>

          <p class="c-footer__paragraph">
            2017 © Pittkost Ltd. registered in England & Wales at 71-75 Shelton Street Covent Garden London WC2H 9JQ ENGLAND. Company nr: 10357347.
          </p>
        </div>
      </div>
    </footer>
  </div>
</body>
</html>
