@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,300i,400,400i,700,700i|Slabo+27px&subset=latin-ext");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
.l-page {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  color: inherit;
  position: relative;
  display: block;
  overflow: hidden; }
  .l-page .l-page__main {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    color: inherit;
    position: relative;
    display: block; }
  .l-page .l-page__footer {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    color: inherit;
    position: relative;
    display: block;
    margin: -1px 0; }

.l-wrapper {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  color: inherit;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  max-width: 700px; }

.c-hero {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  color: inherit;
  position: relative;
  display: block;
  padding-top: 0.1px;
  padding-bottom: 0.1px;
  padding: 40px 0;
  min-height: 100vh;
  background: #000125;
  color: #fff;
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  line-height: 29.124px; }
  .c-hero ::-moz-selection {
    background: #bec0ff; }
  .c-hero ::selection {
    background: #bec0ff; }
  @media screen and (min-width: 700px) {
    .c-hero {
      padding: 60px 0;
      font-family: "Nunito Sans", sans-serif;
      font-size: 20px;
      line-height: 32.36px; } }
  .c-hero .c-hero__underline {
    border-bottom: 1px solid #fff; }
  .c-hero .c-hero__main {
    margin-top: 40px; }
  .c-hero .c-hero__footer {
    margin-top: 40px; }
  .c-hero .c-hero__pic {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    color: inherit;
    position: relative;
    display: inline-block;
    border-radius: 2px;
    max-height: 120;
    max-width: 120px;
    margin-bottom: 30px; }
    @media screen and (min-width: 700px) {
      .c-hero .c-hero__pic {
        margin-bottom: 40px; } }
  .c-hero .c-hero__title {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    color: inherit;
    position: relative;
    display: block;
    font-family: "Slabo 27px", serif;
    font-size: 43.2px;
    line-height: 69.8976px;
    font-weight: normal; }
    @media screen and (min-width: 700px) {
      .c-hero .c-hero__title {
        font-family: "Slabo 27px", serif;
        font-size: 57.6px;
        line-height: 93.1968px; } }
  .c-hero .c-hero__subtitle {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    color: inherit;
    position: relative;
    display: block;
    margin-top: 20px;
    font-family: "Nunito Sans", sans-serif;
    font-size: 18px;
    line-height: 29.124px;
    text-transform: uppercase;
    font-weight: normal;
    color: #BB2A23; }
    @media screen and (min-width: 700px) {
      .c-hero .c-hero__subtitle {
        font-family: "Nunito Sans", sans-serif;
        font-size: 20px;
        line-height: 32.36px; } }
  .c-hero .c-hero__paragraph {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    color: inherit;
    position: relative;
    display: block;
    margin-top: 20px;
    color: #fff; }
    .c-hero .c-hero__paragraph--hidden {
      display: none; }
  .c-hero .c-hero__button {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    color: inherit;
    position: relative;
    display: inline-block;
    text-decoration: none;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
    background: #BB2A23;
    color: #fff;
    border-radius: 2px;
    text-align: center;
    font-family: "Nunito Sans", sans-serif;
    font-size: 20px;
    line-height: 32.36px;
    text-transform: uppercase;
    transition: 250ms; }
    .c-hero .c-hero__button:not(:first-child) {
      margin-top: 10px; }
    @media screen and (min-width: 700px) {
      .c-hero .c-hero__button {
        padding: 15px 30px;
        display: inline-block;
        width: auto; } }
    .c-hero .c-hero__button:hover {
      background: #da3f37; }
    .c-hero .c-hero__button:focus {
      background: #90201b; }
    .c-hero .c-hero__button--secondary {
      box-shadow: 0 0 0 2px #BB2A23 inset;
      background: none;
      color: #BB2A23; }
      .c-hero .c-hero__button--secondary:hover {
        box-shadow: none;
        color: #fff; }
  .c-hero .c-hero__highlight {
    color: #BB2A23; }

.c-footer {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  color: inherit;
  position: relative;
  display: block;
  padding: 40px 0;
  background: #000125;
  color: #fff; }
  @media screen and (min-width: 700px) {
    .c-footer {
      padding: 60px 0; } }
  .c-footer .c-footer__nav {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    color: inherit;
    position: relative;
    display: block; }
  .c-footer .c-footer__paragraph {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    color: inherit;
    position: relative;
    display: block;
    margin-top: 20px;
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
    line-height: 22.652px; }
    @media screen and (min-width: 700px) {
      .c-footer .c-footer__paragraph {
        font-family: "Nunito Sans", sans-serif;
        font-size: 16px;
        line-height: 25.888px; } }

.c-social-links {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  color: inherit;
  position: relative;
  display: block;
  list-style-type: none;
  margin: 0 -10px; }
  .c-social-links .c-social-links__item {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    color: inherit;
    position: relative;
    display: inline-block;
    margin: 0 10px; }
  .c-social-links .c-social-links__link {
    text-decoration: none;
    color: inherit;
    font-family: "Slabo 27px", serif;
    font-size: 40px;
    line-height: 64.72px;
    transition: 250ms; }
    .c-social-links .c-social-links__link:hover {
      color: #BB2A23; }

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  color: inherit;
  position: relative;
  display: block; }

/*# sourceMappingURL=../maps/styles/main.css.map */
